footer {
	color: #000000;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
	padding-top: 10px;
	background-color: #E7E4DB;
	background-image: url(image_path('notebook.jpg'));
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-box-shadow: 0px -2px 10px rgba(0,0,0,0.5);
	box-shadow: 0px -2px 10px rgba(0,0,0,0.5);
}

footer .footer-col {
	margin-bottom: 50px;
	background-color: #F9E9A6;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.0), -1px -1px 5px rgba(0,0,0,0.20),inset -10px -10px 10px rgba(100,70,30,0.05);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.30), -1px -1px 5px rgba(0,0,0,0.20),inset -10px -10px 10px rgba(100,70,30,0.05);
	font-family: "微軟正黑體";
	margin-top: 20px;
	transform: rotate(2deg);
	padding-top: 10px;
	padding-bottom: 15px;
}

footer .footer-below {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 10px;
	background-color: #BFBFBF;
	padding-top: 10px;
}