// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-label{
	font-size: 18px;
	color: #00495B;
}