$navbar-background-color: #292c2f;
$navbar-background-color-hover: #41cccc;
$navbar-font-family: 'Russo One', sans-serif;

.navbar-default {
    background-color: $navbar-background-color;
    border-color: $navbar-background-color-hover;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;   
}

.navbar-default .navbar-brand {
    color: white;
    font-family: $navbar-font-family;
    font-size: 32px;
}

.navbar-default .navbar-brand:hover {
    color: white;
    background-color: $navbar-background-color;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: $navbar-font-family;
    font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: $navbar-background-color-hover;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $navbar-background-color-hover;
  color: white;
}






/* dropdown-menu */
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: $navbar-background-color;
	font-family: $navbar-font-family;
}

.navbar-nav .open .dropdown-menu {
    background-color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: white;
  background-color: $navbar-background-color-hover;
}







/* toggle */
.navbar-default .navbar-toggle {
  border-color: $navbar-background-color-hover;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $navbar-background-color-hover;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}