$navbar-background-color: #292c2f;
$navbar-background-color-hover: #41cccc;
$navbar-font-family: 'source-han-sans-traditional', 'cwtexhei','Archivo Black', sans-serif;

.navbar-default {
    background-color: $navbar-background-color;
    background-repeat: repeat; 

    border-color: $navbar-background-color-hover;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 100%;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: $navbar-font-family;
    font-size: 32px;
    font-weight: 900;
}

.navbar-default .navbar-brand:hover {
    color: white;
    background-color: $navbar-background-color;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: $navbar-font-family;
    font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: $navbar-background-color-hover;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $navbar-background-color-hover;
  color: white;
}

.navbar-default .navbar-brand-course{
  color: #5383d3;
  //font-size: 25px;
  font-size: 35px;
  font-family: 'Francois One', sans-serif;
}


#skew-brand{
transform:rotate(-30deg);
}



/* dropdown-menu */
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: $navbar-background-color;
	font-family: $navbar-font-family;
}

.navbar-nav .open .dropdown-menu {
    background-color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: white;
  background-color: $navbar-background-color-hover;
}







/* toggle */
.navbar-default .navbar-toggle {
  border-color: $navbar-background-color-hover;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $navbar-background-color-hover;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

#btn-search{
  background-color: $navbar-background-color-hover;
}