.show-page-box{
    background: white;
    border-radius:12px;
    margin: 3px 0px 20px 10px;
    box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);

    .header{
    	padding: 0px;

	    //background-image: url(image_path("7-6-ok-02.jpg"));
	    //background-repeat: repeat;
	    //border-style:none;
	    background-color: #ad806b;

    	height:25px;
    	border-radius:12px 12px 0px 0px;
    }

    .content{
		padding-top: 1px;
		padding-right: 30px;
		padding-bottom: 30px;
		padding-left: 30px;
    }

    h4{
    	color: #AE0000;
    }
}