.show-page-box{
    background: white;
    border-radius:3px;
    margin: 0px 0px 20px 10px;
    //box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);

    .header{
    	padding: 0px;

	    //background-image: url(image_path("7-6-ok-02.jpg"));
	    //background-repeat: repeat;
	    //border-style:none;
	    background-color: #19CC76;

    	height:5px;
    	border-radius:3px 3px 0px 0px;
    }

    .content{
		padding-top: 1px;
		padding-right: 30px;
		padding-bottom: 30px;
		padding-left: 30px;
    }

    .course-title{
        font-size: 30px;
        font-family: 'source-han-sans-traditional', 'cwtexhei','Noto Sans', sans-serif;
        font-weight:bold;
        text-align:center;
        padding: 10px;
        border-style:double;
    }

    .title-box{
        width:100%;
        background-color:#2ecc71;
        color: white;
        padding: 5px 15px 5px 15px;
        margin-top: 15px;
        text-decoration:none;
        a:visited {color:white;text-decoration:none;}
        a:link {color:white;text-decoration:none;}
        a:active {color:white;text-decoration:none;}
        a:hover {color:white; background-color:#2ecc71; text-decoration:none;}
    }
}





.course-attribute-box{
    color:white;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    .course-attribute-title{
        
        font-size: 18px;
        padding: 10px;
    }

    .course-attribute-content{
        font-size: 20px;
        padding: 10px;
        height: 80px;
    }

    p{
        margin-top: 7px;
        vertical-align: middle;
        font-size: 22px;
    }
}