.form-control{
	resize: none;
	border-radius:0px;
	font-family: '微軟正黑體', 'cwtexhei','Noto Sans', sans-serif;
}

.issue-content-box{
	/*background: #FFECEC;*/
	background: white;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-family: '微軟正黑體', 'cwtexhei','Noto Sans', sans-serif;
}

.comment-content-box{
	background-color: white;
	padding: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 5px;
	font-family: '微軟正黑體', 'cwtexhei','Noto Sans', sans-serif;
}