// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner {
	background-image: url(image_path("welcome-background.jpg"));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 600px;
	display: table;
	h1, p {
		color: white;
		text-align: center;
		
	}
	h1 {
		margin-top: 200px;
		font-size: 80px;
		font-family: 'cwTeXHei', sans-serif;
		font-weight:bold;
		letter-spacing: 10px;
	}
	div {
	    color: white;
	    text-align: center;
	    background: #41cccc;//welcome button color
	    width: 100px;
	    margin:0px auto;//put div tag center
	    padding: 5px;
	    border-radius:20px;
	    font-size: 20px;  
	    font-family: 'Russo One', sans-serif;
	    
	    //non select
	    -ms-user-select:none;
	    -moz-user-select: none;
	    -webkit-user-select: none;
	}
	div:hover {
		background: #FFEA00;
		cursor:pointer;
	}
	div:active {
		background: rgba(250, 250, 250, 0.4);
	}	
}